@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR:wght@100;200;300;500;900&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Work+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --chat-maincolor: rgb(161, 75, 184);
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #242424;
}

.ChatMassge {
    width: 300px;
    height: 400px;
    background: white;
    font-weight: 300;
    border-radius: 15px;
    transition: all 0.3s ease;
    font-family: 'Noto Sans KR', sans-serif;
}

.ChatMassge.active {
    width: 500px;
    height: 700px;
}

.Chat-title {
    width: 100%;
    height: 50px;
    border-radius: 15px 15px 0 0;
    background: var(--chat-maincolor);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 10px;
    gap: 13px;
}

.Chat-title img {
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
}

.Chat-title h1 {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.6px;
}

.Chat-title p {
    font-size: 8px;
    margin-left: 13px;
    position: relative;
    color: rgba(255,255,255,0.5);
}

.Chat-title p::before {
    content: '';
    position: absolute;
    top: 2px;
    left: -12px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(153, 255, 153);
    border: 1px solid white;
}

.Chat-title .Zoom-in{
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    color: rgba(255,255,255,0.5);
}

.Chat-title .Zoom-out{
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    color: rgba(255,255,255,0.5);
    margin-bottom: 3.5px;
}


.Chat-title .Chat-out{
    font-size: 30px;
    cursor: pointer;
    color: rgba(255,255,255,0.5);
    margin-left: 10px;
}


.Chat-title-man {
    flex: 5;
}

.Chat-massages {
    padding: 10px 15px;
    display: flex;
    max-height: 330px;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    margin-top: 5px;
    margin-right: 3px;
}

.Chat-massages::-webkit-scrollbar {
    width: 5px;
}

.Chat-massages::-webkit-scrollbar-thumb {
    background: var(--chat-maincolor);
    border-radius: 15px;
}

.Chat-massages span{
    font-size: 10px;
    background: rgb(233, 233, 233);
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px 0px;
    animation: massage 0.5s ease;
    margin-left: 25px;
    position: relative;
}

.ChatMassge span{
    font-size: 10px;
    background: rgb(233, 233, 233);
    padding: 5px 10px;
    border-radius: 15px;
    margin: 5px 0px;
    animation: massage 0.5s ease;
    margin-left: 25px;
    position: relative;
    transition: all 0.5s ease;
}

.ChatMassge.active span{
    font-size: 20px;
}

.Chat-massages span:first-child::before,
.Chat-massages span:nth-child(5)::before,
.Chat-massages span:nth-child(11)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    transform: translateX(-120%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: url(pro.png);
    background-position: center;
    background-size: cover;
}

.Chat-massages span:nth-child(2),
.Chat-massages span:nth-child(5),
.Chat-massages span:nth-child(9) {
    color: var(--chat-maincolor);
    font-weight: 500;
}

.Chat-massages span:nth-child(12) {
    color: var(--chat-maincolor);
    font-weight: 500;
}


@keyframes massage {
    0%{
        font-size: 1px;
    }
    100%{
        font-size: 10px;
    }
}

.ChatMassge button {
    font-size: 10px;
    padding: 5px 10px;
    color: #242424;
    border: none;
    border-radius: 15px;
    background: white;
    border: 1px solid var(--chat-maincolor);
    cursor: pointer;
    transition: all 0.5s ease;
    width: 50%;
}

.ChatMassge.active button {
    font-size: 20px;
}

.Chat-massages button:hover {
    background: var(--chat-maincolor);
    color: white;
}

.Chat-massages div {
    display: flex;
    gap: 7px;
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: center;
    width: 100%;
    animation: button 0.5s ease forwards;
}

@keyframes button {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Chat-massages img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.Chat-massages .message-container {
    display: flex;
    align-items: center;
    margin: 0;
}